# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dep
*.res
*.resources

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/mp2-lab2-matrix/v15
/.vs
/sln/vc10/.vs/utmatrix/v15/ipch/AutoPCH
/sln/vc10/.vs/utmatrix/v15/Solution.VC.db-wal
/sln/vc10/.vs/utmatrix/v15/Solution.VC.db-shm
/sln/vc10/.vs/utmatrix/v15/Solution.VC.db
/sln/vc10/.vs/utmatrix/v15/Browse.VC.opendb
/sln/vc10/.vs/utmatrix/v15/Browse.VC.db
/sln/vc10/.vs/utmatrix/v15/.suo
/sln/vc10/Debug/gtest.tlog/Lib.command.1.tlog
/sln/vc10/Debug/gtest.tlog/Lib-link.write.1.tlog
/sln/vc10/Debug/gtest.tlog/Lib-link.read.1.tlog
/sln/vc10/Debug/gtest.tlog/gtest.lastbuildstate
/sln/vc10/Debug/gtest.tlog/CL.write.1.tlog
/sln/vc10/Debug/gtest.tlog/CL.read.1.tlog
/sln/vc10/Debug/gtest.tlog/CL.command.1.tlog
/sln/vc10/test_utmatrix.vcxproj.user
/sln/vc10/sample_utmatrix.vcxproj.user
/sln/vc10/gtest.vcxproj.user
/sln/vc10/Debug/vc141.pdb
/sln/vc10/Debug/vc141.idb
/sln/vc10/Debug/vc100.pdb
/sln/vc10/Debug/vc100.idb
/sln/vc10/Debug/test_utmatrix.tlog/unsuccessfulbuild
/sln/vc10/Debug/test_utmatrix.tlog/test_utmatrix.lastbuildstate
/sln/vc10/Debug/test_utmatrix.tlog/CL.write.1.tlog
/sln/vc10/Debug/test_utmatrix.tlog/CL.read.1.tlog
/sln/vc10/Debug/test_utmatrix.tlog/CL.command.1.tlog
/sln/vc10/Debug/test_utmatrix.log
/sln/vc10/Debug/sample_utmatrix_manifest.rc
/sln/vc10/Debug/sample_utmatrix.pdb
/sln/vc10/Debug/sample_utmatrix.lastbuildstate
/sln/vc10/Debug/sample_utmatrix.ilk
/sln/vc10/Debug/sample_utmatrix.exe.intermediate.manifest
/sln/vc10/Debug/sample_utmatrix.exe.embed.manifest
/sln/vc10/Debug/rc.write.1.tlog
/sln/vc10/Debug/rc.read.1.tlog
/sln/vc10/Debug/rc.command.1.tlog
/sln/vc10/Debug/mt.write.1.tlog
/sln/vc10/Debug/mt.read.1.tlog
/sln/vc10/Debug/mt.command.1.tlog
/sln/vc10/Debug/link.write.1.tlog
/sln/vc10/Debug/link.read.1.tlog
/sln/vc10/Debug/link.command.1.tlog
/sln/vc10/Debug/link.18652.write.1.tlog
/sln/vc10/Debug/link.18652.read.1.tlog
/sln/vc10/Debug/link.18652-cvtres.write.1.tlog
/sln/vc10/Debug/link.18652-cvtres.read.1.tlog
/sln/vc10/Debug/link-cvtres.write.1.tlog
/sln/vc10/Debug/link-cvtres.read.1.tlog
/sln/vc10/Debug/gtest.pdb
/sln/vc10/Debug/gtest.log
/sln/vc10/Debug/gtest.idb
/sln/vc10/Debug/CL.write.1.tlog
/sln/vc10/Debug/CL.read.1.tlog
/sln/vc10/Debug/cl.command.1.tlog
/sln/vc9/.vs/utmatrix/v15/Solution.VC.db
/sln/vc9/.vs/utmatrix/v15/Browse.VC.db
/sln/vc9/.vs/utmatrix/v15/.suo
/sln/vc9/Backup/utmatrix.sln
/sln/vc9/UpgradeLog.htm
/sln/vc9/test_utmatrix.vcxproj.user
/sln/vc9/test_utmatrix.vcxproj.filters
/sln/vc9/test_utmatrix.vcxproj
/sln/vc9/sample_utmatrix.vcxproj.user
/sln/vc9/sample_utmatrix.vcxproj.filters
/sln/vc9/sample_utmatrix.vcxproj
/sln/vc9/gtest.vcxproj.user
/sln/vc9/gtest.vcxproj.filters
/sln/vc9/gtest.vcxproj
/sln/vc9/Debug/test_utmatrix.log
/sln/vc9/Debug/gtest.log
